#project-modal {
  display: none;
  height: 100vh;
  position: fixed;
  background: #000000c7;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3000;
  overflow-y: hidden;
  .project-modal {
    height: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .swiper {
      height: 100%;
      .swiper-slide {
          text-align: center;
          font-size: 18px;
  
          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
        }
  
        .swiper-slide img {
          display: block;
          height: 90%;
          object-fit: cover;
        }
    }
  }
}

.close {
  background-image: url('../images/icons/close.png');
  background-size: contain;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;    
  position: absolute;
  right: 2%;
  top: 3%;
  background-color: transparent;
  border: none;
}