* {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 3;
}

html {
  scroll-behavior: smooth;
}

.logo {
  background-image: url("../images/icons/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 70px;
  position: absolute;
  left: 10%;
  top: 5%;
}

.menu .logo {
  background-image: url("../images/icons/logo black.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  z-index: 1000;
  width: 70px;
  position: absolute;
  left: 10%;
  top: 5%;
}

.background_lines {
  height: 100vh;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.background_lines .border {
  border-color: #7272720f !important;
}

.body_wrapper {
  position: relative;
  z-index: 2;
}

.services {
  margin-bottom: 100px;
}
.services .item {
  text-align: center;
  margin-top: 30px;
}
.services .item img {
  width: 50%;
}

.supplier, .clients {
  position: relative;
  margin-bottom: 100px;
}
.supplier .row, .clients .row {
  flex-wrap: nowrap;
  margin: 0;
}
.supplier .row .inner-items, .clients .row .inner-items {
  display: flex;
  align-items: center;
  justify-content: center;
}
.supplier .row .inner-items img, .clients .row .inner-items img {
  border-radius: 5px;
  width: 80%;
}
.supplier .swiper-button-next, .supplier .swiper-button-prev, .clients .swiper-button-next, .clients .swiper-button-prev {
  bottom: auto;
  top: 40px;
  color: #F8F0E3;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
  width: auto;
  z-index: 100;
  opacity: 1;
}
.supplier .swiper-button-next:focus, .supplier .swiper-button-prev:focus, .clients .swiper-button-next:focus, .clients .swiper-button-prev:focus {
  outline: transparent;
}
.supplier .swiper-button-next:hover, .supplier .swiper-button-prev:hover, .clients .swiper-button-next:hover, .clients .swiper-button-prev:hover {
  color: #0097da;
}
.supplier .swiper-button-next::after, .supplier .swiper-button-prev::after, .clients .swiper-button-next::after, .clients .swiper-button-prev::after {
  display: none;
}
@media (max-width: 600px) {
  .supplier .swiper-button-next, .supplier .swiper-button-prev, .clients .swiper-button-next, .clients .swiper-button-prev {
    font-size: 12px;
  }
}
.supplier .swiper-button-next, .clients .swiper-button-next {
  right: 10%;
}
@media (max-width: 768px) {
  .supplier .swiper-button-next, .clients .swiper-button-next {
    right: 6%;
  }
}
.supplier .swiper-button-prev, .clients .swiper-button-prev {
  right: 15%;
  left: auto;
  padding-right: 2%;
  border-right: 2px solid #272727;
}
@media (max-width: 1020px) {
  .supplier .swiper-button-prev, .clients .swiper-button-prev {
    right: 11%;
  }
}
@media (max-width: 768px) {
  .supplier .swiper-button-prev, .clients .swiper-button-prev {
    right: 13%;
  }
}
@media (max-width: 600px) {
  .supplier .swiper-button-prev, .clients .swiper-button-prev {
    right: 15%;
  }
}

@media (max-width: 600px) {
  .supplier .swiper-container {
    margin-top: 20px;
  }
}

.projects .image-wrapper {
  position: relative;
  height: fit-content;
  margin-bottom: 30px;
}
.projects .image-wrapper .info {
  position: absolute;
  z-index: 3;
  transition: opacity 300ms;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.projects .image-wrapper .info h4 {
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
}
.projects .image-wrapper .info p {
  font-style: italic;
  font-weight: 300;
  font-family: "Alegreya Sans", sans-serif;
}
.projects .image-wrapper a {
  transition: opacity 250ms;
  position: absolute;
  z-index: 2;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.projects .image-wrapper img {
  width: 100%;
}
.projects .image-wrapper:hover .info {
  opacity: 1;
}
.projects .image-wrapper:hover a {
  opacity: 0.7;
}

.about_company .image {
  height: 350px;
  background-image: url("../images/interior_designs/amanda-macedo-VqiXghm4L9w-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about_company .info {
  position: relative;
}
.about_company .info .company {
  background-color: #1b1b1b;
  padding: 7% 15%;
  width: 120%;
  position: absolute;
  left: -20%;
  top: 50%;
  transform: translateY(-50%);
}

.our_team .member .image {
  height: 0px;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.our_team .member:nth-child(1) .image {
  background-image: url("../images/team/callum-blacoe-Id6U55AZMpg-unsplash.jpg");
}
.our_team .member:nth-child(2) .image {
  background-image: url("../images/team/harishan-kobalasingam-8PMvB4VyVXA-unsplash.jpg");
}
.our_team .member:nth-child(3) .image {
  background-image: url("../images/team/imansyah-muhamad-putera-n4KewLKFOZw-unsplash.jpg");
}
.our_team .member:nth-child(4) .image {
  background-image: url("../images/team/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg");
}
.our_team .member .info {
  height: 120px;
  background: #1c1c1c;
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: -41px;
  font-family: "Roboto", sans-serif;
}
.our_team .member .info h5 {
  line-height: 1;
}
.our_team .member .info .designation {
  position: relative;
  margin: 0;
}
.our_team .member .info .designation::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 1px;
  left: -10%;
  top: -8px;
  background-color: #F8F0E3;
}

.map h2 {
  position: relative;
}
.map h2::after {
  position: absolute;
  content: none;
  height: 1px;
  width: 30%;
  background-color: #F8F0E3;
  left: 0;
  bottom: 10px;
}
.map .input {
  background-color: #1c1c1c;
  padding: 10px;
  position: relative;
  opacity: 1;
  border: none;
}
.map button {
  background: none;
  color: #F8F0E3;
  position: relative;
  border: none;
  z-index: 2;
}
.map button::before {
  content: "";
  position: absolute;
  background-color: #1c1c1c;
  height: 10px;
  width: 80%;
  left: 0px;
  bottom: 5px;
  z-index: -1;
}
.map .icon {
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 40px;
  line-height: 2;
  margin: 0;
}
.map a {
  color: #F8F0E3;
  text-decoration: none;
  display: block;
}
.map .mail {
  background-image: url("../images/icons/email.png");
}
.map .phone {
  background-image: url("../images/icons/phone-call.png");
}
.map .follow {
  background-image: url("../images/icons/add-user.png");
}
.map .social a {
  display: inline-block;
  height: 30px;
  margin-right: 15px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.map .social a:nth-child(1) {
  background-image: url("../images/icons/instagram.png");
}
.map .social a:nth-child(2) {
  background-image: url("../images/icons/facebook.png");
}
.map .image {
  position: relative;
  height: 400px;
  background-image: url("../images/map.jpg");
  background-position: center;
  background-size: cover;
  filter: grayscale(1);
  transition: all 250ms ease-in-out;
}
.map .image:hover {
  filter: grayscale(0);
}
.map .image a {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.footer {
  background-color: #1b1b1b;
}

/*# sourceMappingURL=style.css.map */
